<div class="game-wrapper level-{{ data.level.level }}"
     style="width: {{ data.defaults.width }}px; height: {{ data.defaults.height }}px;
            background-image: url(media/images/backgrounds/{{ data.level.backgroundImage }});">
  <div class="game-content">
    {% if data.defaults.showDescription %}
      <div class="description">{{ data.level.description }}</div>
    {% endif %}
    {% for character in data.level.characters %}
      <img src="media/images/characters/{{ character.image }}" data-action="character"
           class="character" style="left: {{ character.left }}px; top: {{ character.top }}px;"
           data-message="{{ character.message }}" data-inventory="{{ character.inventory }}">
    {% endfor %}
    <div id="message"></div>
  </div>
</div>
