body {
    background-color: #eee;
    color: #344347;
    font-family: Arial, sans-serif;
    margin: 20px;
}

.game-wrapper {
    position: relative;
}

.description, .game-wrapper, .character,
#message, .item {
    border: 2px solid transparent;
}

.debugger .description, .debugger .game-wrapper,
.debugger .character, .debugger #message, .debugger .item {
    border: 2px solid #1af7ff;
}

.error {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: #ddd 1px 0 2px;
    border-radius: 2px;
    margin: 0 auto;
    max-width: 800px;
    min-width: 240px;
    padding: 20px;
    text-align: center;
    width: 70%;
}

.error h1 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.error p {
    color: #d41010;
    font-size: 16px;
    line-height: 25px;
}

.game-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.description {
    background-color: rgba(255, 255, 255, 0.5);
    color: #555;
    font-size: 20px;
    padding: 20px;
}

.character, .item {
    position: absolute;
    z-index: 2;
}

.active {
    cursor: pointer;
}

#message {
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0;
    font-size: 16px;
    left: 0;
    line-height: 20px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    z-index: 3;
}

#message.on {
    opacity: 1;
}
